
.clear{clear:both;width:100%}

/* Pet info panel*/
table.pet_manager_info {width:100%;margin-bottom: 50px}
table.pet_manager_info, 
table.pet_manager_info th, 
table.pet_manager_info td{
    border:none!important;
    border-collapse: collapse;
    text-align: left; padding: 0!important;
}


table.pet_manager_info th {width:100px} 
table.pet_manager_info td {width:200px;padding:0;vertical-align: top;}


.pet_image {
    float:left;position:relative; display:block;
    width:150px;height:150px;margin:0 10px 0 0;
    padding:0;
}

.pet_image img {
    margin:0;padding:0px;width:100%;height:auto;
    display:block; -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.widget .pet_image{
  width:100px;height:100px
}

.pet_status {
    float: none;
    text-align: center;
    position: relative;
    display: block;
    width: 60%;    
    margin: -20px auto 0 auto;
    padding: 5px;line-height: 1.2em;
    background: #f7f7f7;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.1);
    box-shadow: 0 3px 0 0 rgba(0,0,0,0.1);
    border:1px solid rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-weight: bold;
}

.pet_status.widget_tag {
    position: inherit;float: left;margin: 0;line-height: 1.2em;padding-left: 5px;width: auto
}


/* Example Tags */
.ic {font-family: dashicons;margin-right: 5px;font-weight: bold;}
.ic:before {font-size: 20px;vertical-align: text-top;font-weight: normal;}
.ic-lost:before {content: "\f179";}
.ic-found:before {content: "\f230";color: #E44E45}
.ic-adopt:before {content: "\f487";color:#E9387E;}
.ic-adopted:before {content: "\f102";}


/*Map*/
.map_image img { }


/*Styles for widgets itens*/

.widget .pet_info {border-bottom:1px solid #eee;padding:15px 0 15px 0;margin:0}
.widget .pet_info li a{line-height:0px;}

.pet_name a {font-size:1.3em;text-decoration:none}

figure.pet_image {
    float:left;
    width:100px;height:100px;margin:0 10px 0 0;
    padding:0;
}

.pet_image {position: relative;}
.pet_image  img {
    margin:0;padding:0px;width:100%;height:auto;
    display:table; 
}

.pet_rss:before {content: "\f303";color:#FF8040;vertical-align: sub;}

/* Add pet form */

#new_post fieldset {border:1px solid #eee; padding:10px;margin:10px 0}

#new_post label {font-weight:normal;margin-right:1.5em;text-transform:uppercase;font-size:11px}

#new_post .field {display:Table;width:50%;float:left;padding:10px 0; border-bottom:1px solid #eee}

#new_post .petcolor {height:100px;display:block;}

#new_post .invalid {background:#FFFFCC;font-weight:normal;}
#new_post .error {display:none}

.note {background:#FFFFCC;padding:10px; display:block; clear:both;border:1px dashed #999; font-size:0.8em;margin:10px 0 0 0; text-align: center }

#new_post .required{color:#000}

.list_color li, .list_coats li,.list_patterns li {list-style-type:none; display:inline;margin:0;float:left;clear:right}

fieldset .listpetinfo {padding:0;margin:0;}
fieldset .listpetinfo li {list-style:none;padding:5px 0 5px 0;border-bottom:1px solid #eee;margin:0}
fieldset .listpetinfo label, .s_label {width:100px;float:left;padding:2px 10px 0 0;font-size:10px;}

.list_color , .list_coats ,.list_patterns  {list-style-type:none; display:inline;margin:0;padding:0}

.pet_meta {display: table;font-style: italic;margin-bottom: 20px}
.pet_meta p {display: inline;padding-right: 20px;}

/*Search pet form*/

#searchpetform ol li {clear:both;padding:5px ;border-bottom:1px solid #eee; list-style:none;margin-left:0}
#searchpetform ol li:hover {background:#f7f7f7}
#searchpetform ol li label{width:55px;float:left;padding:2px 10px 0 0;font-size:10px;text-transform:uppercase}

/*Twenty Twelve fix*/
.single-pet #respond, .single-pet .attachment-post-thumbnail,
.tax-pet-category .attachment-post-thumbnail,
.tax-pet-status .attachment-post-thumbnail,
.tax-pet-age .attachment-post-thumbnail,
.tax-pet-color .attachment-post-thumbnail,
.tax-pet-breeds .attachment-post-thumbnail,
.tax-pet-coat .attachment-post-thumbnail,
.tax-pet-pattern .attachment-post-thumbnail,
.tax-pet-size .attachment-post-thumbnail,
.tax-pet-gender .attachment-post-thumbnail,
.post-type-archive-pet .attachment-post-thumbnail,
.leave-reply
{display:none}

